.list{
    display: flex;
    margin-bottom: 2.5rem;
    -webkit-overflow-scrolling: touch;
    .list-item{
        float: left;
        max-width: 50%;
        padding:2px 2px;
        img{
                width:auto;
                height:auto;
                min-height: 30px;
                max-width:100%;
                max-height:100%;
        }
        span{
            color: #666;
            width: 100%;
            font-size: 13px;
            overflow: hidden;
            word-break: break-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
            text-align: center;
        }
        a{
            span{
                color: #108ee9
            }
        }
    }   
}