//reset 
html,body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
   display: none; 
}
#root{
    height: 100%;
}
.container{
    white-space: nowrap;
    height: 100%;
    .search-bar{
        .back{
            text-align: center;
        }
    }
    .search{
        height: 2.5rem;
        width:75%;
        border:1px solid #dedede;
        outline: none;
        color: #555;
        border-radius: 8px;
        font-size: 16px;
        text-indent: 0.5rem;
        margin: 0.5rem;
    }
    .back-wrap{
        width: 6%;
        display: inline-block;
    }
}
.list-container{
    height: calc( 100% - 3.5rem );
    &>div{
        height: 100%;
        &>section{
            height: 100%;
        }
    }
    .tabs{
        display: flex;
        list-style:none;
        margin:0 1rem;
        padding-left: 0rem;
        li{
            color: #999;
            height: 2.5rem;
            line-height: 2.5rem;
            width: 50%;
            text-align: center;
        }
        .active{
            border-bottom: 1.5px solid #00a5ed;
        }
    }
    .list-main{
        height: calc( 100% - 6rem );
        
        overflow-y: scroll;
        overflow-x: hidden;
        ::-webkit-scrollbar{
            display: none; 
         }
    }
}

@import './components/dateboard.scss';
@import './components/list.scss';