//reset 
html,body{
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar{
   display: none; 
}
#root{
    height: 100%;
}
.container{
    padding:1rem 1rem;
    padding-top:0;
    height: 100%;
    overflow: hidden;
}

@import './components/dateboard.scss';
@import './components/list.scss';
